body {
  font-family: sans-serif;
  background-color: rgb(236, 238, 239);
}
#preview {
  height: 100px; /* Set a default height, you can adjust this value */
}
#preview img {
  max-width: 100%;
  height: auto;
}
#preview table {
  width: 50%;
  border-collapse: collapse;
}

#preview th,
#preview td {
  border: 1px solid #131313;
  padding: 8px;
  text-align: left;
}

pre {
  background-color: white;
  padding: 10px;
}
